.dew-diy {
  --dew-shift: color 0ms;
  --dew-solar: mistyrose;
  --dew-lunar: darkviolet;
  --dew-locus: currentColor;
  --dew-focus: invert(100%);
  --dew-hover: hue-rotate(0deg);
  --dew-vapor: opacity(60%);
}
