.dew-diy {
  --dew-shift: color 0ms;
  --dew-slick: mistyrose;
  --dew-slime: #528;
  --dew-solar: hotpink;
  --dew-lunar: #201;
  --dew-locus: currentColor;
  --dew-focus: invert(100%);
  --dew-hover: hue-rotate(0deg);
  --dew-vapor: opacity(60%);
}
